QPushButton{
    font-size: 35px;
    padding-left:20px;
    padding-right:20px;
}

QWidget{
    font-size: 40px;
}

#title_lbl{
    font-size: 60px;
    font-weight: bold;
    color:white;
}

#title_container{
    background-color: black;
    margin-top: 0px;
    min-height: 150;
}

#instruction_lbl, #success_lbl {
    font-size: 50px;
}

#body_container > #button_container > QPushButton{
    /* padding: 400px 0px 400px 0px; */
    font-size: 50px;
}

#error_lbl{
    font-size: 50px;
    color: red;
}
